@model CJR_NewBugTracker.Models.UserRoleViewModel

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3>Assign Users To Roles</h3>
<hr />
<div>&emsp;</div>
<d1 class="dl-horizontal">
    <dt>User:</dt>
    <dd>@Html.Label(Model.FirstName)&emsp;@Html.Label(Model.LastName)</dd>
    <dt>&emsp;</dt>
    <dd>&emsp;</dd>
</d1>
<hr />
<div>&emsp;</div>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-sm-offset-1 col-md-10">
                @Html.ListBox("SelectedRoles", Model.UserRoles, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserRoles, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-md-10">
                <input type="submit" value="Upadate Roles" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>&emsp;</div>

<div>
   <span>|</span> @Html.ActionLink("Back to List", "Index")<span>|</span>
    <hr />
</div>
<div>&emsp;</div>
